[submodule "SDK"]
	path = SDK
	url = https://github.com/m5stack/M5Stack_Linux_Libs.git
[submodule "projects/CardputerZero-Emulator/lib/lvgl"]
	path = projects/CardputerZero-Emulator/lib/lvgl
	url = https://github.com/lvgl/lvgl.git
	shallow = true
[submodule "projects/Calculator"]
	path = projects/Calculator
	url = https://github.com/CardputerZero/Calculator.git
[submodule "projects/AppStore"]
	path = projects/AppStore
	url = https://github.com/CardputerZero/AppStore.git
	branch = main
